{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Anyaegbu Ebuka Felix</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Create Innovative application with us</h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="{% url 'contact' %}">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section#}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>{{ about.short_description }}</h4>
                        <p>{{ about.description }}</p>
                        <a href="media/about/ANYAEGBU_EBUKA_FELIX.docx" download>Download CV&nbsp;<i class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive" height="50px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Services Section#}
    <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Services I offer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="icon icon-wallet"></i>
                            <h2>{{ service.name }}</h2>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Recent Works Section #}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="gallery-items">
                                <center><p><strong>Todo App</strong></p></center>
                               <a href="http://myawsomedjangotodoapp.herokuapp.com/"> <img src="{% static 'images/todo.jpg'  %}" alt="work image"></a>
                            
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="gallery-items">
                                <center><p><strong>Church website</strong></p></center>
                               <a href="https://winnerscelebrationchapel.com"> <img height="30px" src="{% static 'images/churchwebsite.jpg' %}" alt="work image"></a>
                            
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="gallery-items">
                                <center><p><strong>Weather App</strong></p></center>
                               <a href="http://wedaapp.herokuapp.com/"> <img height="30px" src="{% static 'images/weather.jpg' %}" alt="work image"></a>
                        </div>
                    </div>

                    
                    
                
            </div>
        </div>
    </div>

    {#    Contact section#}

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>Do you have any project need to be done?</h2>
                    <p>Why not hit the get started button, lets create you an amazing app, we develop non expensive but yet a very 
                    innovative applications. For your final year project, your personal portfolio, your company or business website, 
                    wer're just a click away. Hit the get start button now!?</p>
                    <a href="{% url 'contact' %}" >Get started</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}